
.wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.numbers{
    margin-right: 15px;
    cursor: pointer;
}
.numbers:last-child{
    margin-right: 0;
}

.active{
    font-weight: bold;
    font-size: 20px;
    color: red;
}

button{
    margin-right: 10px;
}

button:last-child{
    margin-right: 0;
}