*{
    list-style-type: none;
}
.container  {
    display: flex;
    padding: 10px;

}

.wrapper{
    padding: 10px;
}

.wrapper_button{
    margin: 0 auto;
}

.img{
    max-width: 50px;
    margin: 0 auto;
    border-radius: 10px;

}

.itemsL{
    display: flex;
    flex-direction: column;
    flex: 0 1 10%;
    margin-right: 20px;

}

.itemsR{
    display: flex;
    justify-content: space-between;
    flex: 0 1 90%;
    border: 3px solid rgba(0, 0, 0, 0.33);
    border-radius: 8px;
}

.text{
    font-family: "Comic Sans MS";
    color: rgba(0, 0, 0, 0.33);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.marg{
    margin-top: 10px;
}

.button{
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(229, 205, 205, 0.33);
    color: #7b7b7b;
    align-self: center;

}

.button:hover{
    box-shadow: 3px 3px 10px black ;


}

.button:active{

    box-shadow: 1px 1px 5px black ;

}

.wraooer_button{
    margin: 0 auto;
}


.texT{
    font-family: "Comic Sans MS";
    color: rgba(0, 0, 0, 0.33);
    font-weight: bold;
    font-size: 20px;
}

.itemsRL{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 3px 10px;
    flex-wrap: wrap;
}

.itemsRR{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 3px 20px;

}

.status{
    max-width: 500px;
    flex-wrap: wrap;
}

.number_pages{
    display: flex;

    flex-wrap: wrap;
}

.numbers{
margin-right: 15px;
    cursor: pointer;
}
.numbers:last-child{
margin-right: 0;
}

.active{
    font-weight: bold;
    font-size: 20px;
    color: red;
}