
.header {
   display: flex;
    flex: 0 1 1900px;
    width: 100%;
    background-color: green;
    min-height: 100px;
}

.header img {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
    padding: 20px;


}

