
.contant{


}

.picture img{
    margin: 10px 0 0 10px;
    max-height: 150px;
    width: 200px;
    object-fit: cover;
}

.fat{
    font-family: "Arial";
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 7px;
}

.simple{
    font-family: "Arial" ;
    font-size: 17px;
    font-weight: 400;
}
.simpleContacts{

    margin-right: 10px;
}

.simpleContacts:last-child {

    margin-right: 0px;
}