.app-wrapper{
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  width: 100%;
  padding-top: 100px;

}
.app-container{
  display: flex;
}

.app-wrapper-contant{
  flex: 0 1 80%;


}
.contant img{
  width: 100%;
  max-height: 100px;
  object-fit: cover;


}