
.nav {
    flex: 0 1 20%;
    padding: 30px 20px;
    background-color: #998420;
    height: 100%;

}

.item a {
    color: white;
    text-decoration: none;

}


a.active {
    color: #ffd700;
}
.item{
    margin-bottom: 10px;
    cursor: pointer;
}

.item:last-child {
    margin-bottom: 0px;
}